# Firebase Admin SDK
FIREBASE_PROJECT_ID=stylo...
FIREBASE_CLIENT_EMAIL=fireba...
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMI.....
# Brevo
BREVO_API_KEY=xkeys....
BREVO_FROM_EMAIL=stylosapcebarber@gmail.com
BREVO_FROM_NAME=Stylo Space Barbería

# Upstash QStash
QSTASH_TOKEN=eyJVc2V....
QSTASH_CURRENT_SIGNING_KEY=sig_5....
QSTASH_NEXT_SIGNING_KEY=sig_5....

# App
PORT=3000
FRONTEND_URL=http://192.168.100.8:5173

# Admin
ADMIN_EMAIL=stylosapcebarber@gmail.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=db...
CLOUDINARY_API_KEY=71....
CLOUDINARY_API_SECRET=vS....

TURNO_CANCEL_SECRET=a948....
PUBLIC_WHATSAPP_URL=https://wa.me/5491159088342?text=Hola%20Stylo%20Space%2C%20quiero%20cancelar%20mi%20turno.
PUBLIC_INSTAGRAM_URL=https://instagram.com/stylo_space